@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

body {
  background-color: #000;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track
::-webkit-scrollbar-track {
  background: #404040;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #262626;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
